<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customerCreateAccount</servlet-name>
        <servlet-class>customerCreateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homePage</servlet-name>
        <servlet-class>homePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contractorCreateAccount</servlet-name>
        <servlet-class>contractorCreateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePassword</servlet-name>
        <servlet-class>changePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>savePassword</servlet-name>
        <servlet-class>savePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>about</servlet-name>
        <servlet-class>about</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contractorProfile</servlet-name>
        <servlet-class>contractorProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>payment</servlet-name>
        <servlet-class>payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>paymentConfirm</servlet-name>
        <servlet-class>paymentConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contractorPage</servlet-name>
        <servlet-class>contractorPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editContractorProfile</servlet-name>
        <servlet-class>editContractorProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveContractorProfile</servlet-name>
        <servlet-class>saveContractorProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rateContractor</servlet-name>
        <servlet-class>rateContractor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveRating</servlet-name>
        <servlet-class>saveRating</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerCreateAccount</servlet-name>
        <url-pattern>/customerCreateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homePage</servlet-name>
        <url-pattern>/homePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contractorCreateAccount</servlet-name>
        <url-pattern>/contractorCreateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePassword</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>savePassword</servlet-name>
        <url-pattern>/savePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>about</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contractorProfile</servlet-name>
        <url-pattern>/contractorProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>payment</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>paymentConfirm</servlet-name>
        <url-pattern>/paymentConfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contractorPage</servlet-name>
        <url-pattern>/contractorPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editContractorProfile</servlet-name>
        <url-pattern>/editContractorProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveContractorProfile</servlet-name>
        <url-pattern>/saveContractorProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rateContractor</servlet-name>
        <url-pattern>/rateContractor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveRating</servlet-name>
        <url-pattern>/saveRating</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
